* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica", "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.services {
  background-color: #d0e7fb
}

.nav--li {
  margin: 0 20px 0 20px;
  padding: 10px 5px;
  cursor: pointer;
  
}

.cover--hero {
  background: url('./assets/images/healthWellness.jpg') center/cover no-repeat;
}

.payment--title {
  top: -12%;
  left:20%;
  right: 20%;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  background: radial-gradient(circle closest-side,#fcd22a 94%,#0000) right/calc(200% - 1em) 100%;
  animation: l24 1s infinite alternate linear;
}
.loader::before {
  content: "Loading...";
  line-height: 1em;
  color: #0000;
  background: inherit;
  background-image: radial-gradient(circle closest-side,#fff 94%,#3692f2);
  -webkit-background-clip:text;
          background-clip:text;
}

@keyframes l24{
  100%{background-position: left}
}

@media (width > 768px) {
  .menu--icon {
    display: none;
  }
}

@media (width <= 768px) {
  .menu--icon {
    visibility: visible;
  }

  .nav--container {
    display: none;
  }

  .group-btn {
    margin: 15px 0 0 15px
  }

  
}

@media (width <=640px) {
  .faqsImg {
    position: absolute;
    left: 50%;
    top: 20%;
    z-index: -1;
    opacity: 15%;
    transform: translate(-50%, 0)
  }
}
